@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model School.Areas.Admin.Models.FeesStructureModel
@using School.Areas.Admin.Models;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/jquery-app/tr-fees-structure.js"></script>

<partial name="_Breadcrumb" , model="new BreadcrumbView{PageTitle = @ViewData["PageTitle"].ToString(), ControllerName = @ViewData["ControllerName"].ToString()}" />

<div class="card card-outline card-primary mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <h6>@ViewData["PageName"]</h6>
            </div>
            <div class="col-sm-3">
                <a asp-action="Index" class="btn btn-outline-info  float-right"><i class="fas fa-chevron-circle-left"></i> Back</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="ClassID" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="ClassID" class="form-control select2" asp-items="@School.Areas.Admin.Controllers.FeesStructureController.GetClassList()"> </select>
                    <span asp-validation-for="ClassID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Pictures" class="col-sm-2 col-form-label"></label>
                <div class="col-md-6">
                    <p>Passport Picture (Size: 250px X 350px)</p>
                    <img id="img-passport" height="10" src="~/uploadfiles/commonfile/cameraIcon.png" alt="" class="img-fluid img-thumbnail" />
                </div>
                <div class="col-md-4">
                    <input type='file' name="file_passport" onchange="uploadpassort(this);" class="btn btn-outline-info pull-right" />
                </div>
            </div>

            <h5 class="sub-title">Fees Details</h5>
            <hr />
            <!-- Row start -->
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="form-control-label">Fees Head</label>
                    <input type="text" id="FeesHead" name="FeesHead" class="form-control" />
                    <input type="hidden" id="FeesHeadID" name="FeesHeadID" />
                </div>
                <div class="col-sm-2">
                    <label class="form-control-label">Amount</label>
                    <input type="text" id="FeesAmount" name="FeesAmount" class="form-control" />
                </div>

                <div class="col-sm-3">
                    <label class=" form-control-label">Billing Cycle</label>
                    <input type="text" id="BillingCycle" name="BillingCycle" disabled="disabled" class="form-control" />
                </div>

                <div class="col-sm-2">
                    <label class="form-control-label">Due On</label>
                    <input type="text" id="DueOn" name="DueOn" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                </div>
                <div class="col-sm-1">
                    <label class="form-control-label">Action</label>
                    <button type="button" class="btn btn-outline-success float-right" onclick="PushRow();"><i class="fas fa-plus"></i> add</button>                    
                </div>
            </div>
            <div class="form-group row">
                <table id='dtTable' class='table table-sm'>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fees Head</th>
                            <th>Amount</th>
                            <th>Billing Cycle</th>
                            <th>Due On</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <table class='table table-sm'>
                    <thead style="visibility:collapse">
                        <tr>
                            <th>#</th>
                            <th>Fees Head</th>
                            <th>Amount</th>
                            <th>B Cycle</th>
                            <th>DueOn</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @*<td align="right" colspan="6"><b>Discount</b></td>

                                <td align="right"> @Html.EditorFor(model => model.DiscountPercent, new { htmlAttributes = new { @class = "form-control small-textbox" } })</td>
                                <td align="right"> @Html.EditorFor(model => model.DiscountValue, new { htmlAttributes = new { @class = "form-control small-textbox" } })</td>
                                <td align="right"> @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control small-textbox", @readonly = "readonly" } })</td>
                                <td></td>*@
                        </tr>
                        <tr>
                            <td align="right" colspan="8"><b>Grand Total (Sub Total - Discount)</b></td>
                            <td align="right"><label id="GroundTotal" for="grandtotal"></label></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>           

            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-outline-primary float-right" on><i class="fas fa-plus"></i> Create</button>
                </div>
            </div>

        </form>

    </div>
    <div class="card-footer">
        <p>Use <i style="color:blue" class="fas fa-plus-square"></i> for Insert Record, <i style="color:green" class="fas fa-edit"></i> for Update Record and <i style="color:red" class="fas fa-window-close"></i> for Delete Record </p>
    </div>
</div>

<!-- /.modal -->
<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Large Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


